<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    
    <h1>Scuba Diver Information</h1>
    <h3>{{ session["id"] }}</h3>
    <h3>{{ session["username"] }}</h3>
    <h3>{{ session["useremail"] }}</h3>

    <hr>

    <h1>Counter</h1>
    <p>{{ session["count"] }} times(s)</p>
    <a href="/reset_counter" class="btn btn-primary">reset counter</a>
    <a href="/reset_session" class="btn btn-primary"> reset session</a>

    <a href="/back_to_page" class="btn btn-primary"> Back to Page</a>

</body>

</html>